body {
	width: 100%;
	background-color: #EDEAFC;
	min-height: 100%;
	color: rgba(0, 0, 0, .8);
}

.spinner {
	background-color: rgba(255,255,255,0.5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999999;

	.image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}